.containerItems{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 30px;
    justify-items: center;
    .notFound{
        font-size: 1.4em;
        grid-column: 1 / -1;
        text-align: center;
        padding: 10px;
        &::first-letter{
            text-transform: capitalize;
        }
    }
}