$lightTheme: (
    "background": #f8fbff,
    "labelSearchBg": #e9eced,
    "labelSearchBorder": #e3e3e3,
    "labelSearchColor": #a1a1a1,
    "headBtnColor": #413B88,
    "hoverHeadBtnColor": #5249b6,
    "ceuntryValueColor": #1f168f,
    "copyRightBg": #cdcdcd,
    "copyRightBorder": #c3c3c3,
    "copyRightCheckBorder": #5b59b9,
    "languagesOptionsColor": #d9d9d9,
    "languagesOptionColor": #746dc7,
    "checkLanguageOption": #d2d2d2,
    "carouselItemLoadingBg": #d9cac0b8,
    "carouselItemDefaultMain": #46464685,
    "headTitle": #1F2227,
    "footerColor": #f4e7de,
    "footerLight": rgba(195 177 164 / 35%),
    "textColor": #464646,
    "loadingLinearItemsColor": linear-gradient(140deg, #761a1a00 44%, #e7e7e796 50%, #7c3d3d00 56%),
    "loadingItemsBgColor": #dddddd,
    "loadingLinearItemColor": linear-gradient(117deg, #761a1a00 44%, #f4e7de 50%, #7c3d3d00 56%),
    "loadingItemBgColor": #c3b1a459
);
$darkTheme: (
    "black": #000,
    "dark": #1C1B1E,
    "dark-light-100": #25242A,
    "purple-light-900": #4B4759,
    "purple-light-100": #5249b6,
    "indigo": #5b59b9,
    "indigo-light-900": #746dc7,
    "purple": #413B88,
    "darkPurple-100": #3c3945,
    "darkPurple-200": #383641,
    "darkPurple-300": #383641,
    "darkPurple-400": #32303b,
    "darkPurple": #1C1B1E,
    "light": #f8fbff,
    "gray-100": #EAECE9,
    "gray-200": #a8a3ba,
    "gray-300": #c0c5c9,
    "gray-400": #8b8b8b,
);
$mediaScreenBreakPoints: (
    "mobileDevices": 480px,
    "tablets": 768px,
    "smallScreen": 1024px,
    "largeScreen": 1250px
);